/* color palette
#65d9ad
#3bca94
#19bf80
#00aa6a
#008151

#56B6A0 
#BFF2E7 
#00221A
#35E6BF
#1A5447
*/

/* heading area */
*,
html {
  margin: 0;
  padding: 0;
}

body {
  color: #008151;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(3px);
}

img {
  border-radius: 20px;
}

button {
  margin: 5px;
  background: transparent;
  border: none;
  stroke: #008151;
}

input {
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  border-color: #008151;
}

header {
  position: sticky;
  max-height: 250px;
  margin-bottom: 40px;
  position: relative;
}

h1 {
  font-weight: 300;
  font-size: 70px;
  /* text-align: center; */
  padding-left: 40px;
  padding-top: 40px;
}
h2 {
  margin-bottom: 10px;
}
.subtitle {
  font-size: 12px;
  padding-left: 50px;
}

.banner {
  width: 100%;
  height: 200px;
  align-items: right;
  background: linear-gradient(110deg, #bff2e7 60%, #1a5447 60%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.623);
}

#bigDiv {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 20px;
}

/* Medium Div -- Cart and Custom Drink Form */
#mediumDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

h3 span {
  padding: 20px;
}

#cart {
  grid-area: 1 / 1 / 2 / 4;
  border: solid #008151;
  position: relative;
}
.totalPriceP {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

#customDrink {
  box-sizing: border-box;
  flex-direction: row;
  grid-area: 2 / 1 / 4 / 4;
  max-height: 500px;
  border: solid #008151;
}
#cart,
#customDrink {
  margin: 20px 20px;
  padding: 20px 20px;
  /* line-height: 20px; */
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
}

.coffeeIcon {
  margin-left: 10px;
  fill: #008151;
}

.add {
  background-color: #008151;
  fill: white;
  padding: 10px;
  border-radius: 20px;
}

/* Menu Container ---------- */
#smallDiv {
  grid-area: 1 / 4 / 5 / 10;
}

#menuContainer img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.623);
}

#menuContainer img:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.623);
}

#menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
}

.drinkCard img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.drinkCard {
  margin: 20px 20px;
  text-align: center;
}

.deleteButton {
  align-items: center;
  font-size: 10px;
  width: 15px;
  height: 15px;
  padding: 2px;
  border-radius: 5px;
  color: white;
  background-color: #064b3b;
}

.deleteButton:hover {
  background-color: #008151;
}

select:focus {
  box-shadow: none;
  outline: none;
}

.search_categories {
  margin-top: 7px;
  font-size: 13px;
  padding: 8px;
  background: #fff;
  border: solid rgba(6, 75, 59);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.search_categories .select {
  width: 120%;
  background: url("http://www.fileformat.info/info/unicode/char/25bc/index.htm")
    no-repeat;
  background-position: 80% center;
}

.search_categories .select select {
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  position: relative;
  z-index: 10;
  width: 80%;
  font-size: 1em;
}

.arrow {
  margin-right: 0px;
}

/* Modal Card ------------- */

.modalCard {
  display: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  line-height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  z-index: 10;
  padding: 20px 20px;
  border-radius: 20px;
  border: solid rgba(6, 75, 59);
  margin-bottom: 20px;
}

.name {
  max-height: 30px;
  font-size: 25px;
  grid-area: 1 / 1 / 2 / 2;
}
.coffeePrice {
  margin-top: 50px;
  grid-area: 1 / 1 / 2 / 2;
  padding: 10px 0;
}
.modalCardFlavor {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: 12px;
}
.modalFormSubmit {
  grid-area: 1 / 2 / 2 / 3;
  /* align-self: start; */
}

#submit {
  background-color: #064b3b;
  border: none;
  color: white;
}

#submit:hover {
  background-color: #008151;
}

.modalCard img {
  grid-area: 1 / 2 / 6 / 3;
  margin: 10px;
  margin-top: 50px;
  height: 200px;
  width: 200px;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 40%;
}

.closeModal:hover {
  stroke: #35e6bf;
}

footer {
  display: flex;
  font-size: 10px;
  justify-content: center;
}
