*,
html {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(17, 63, 31);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  margin-bottom: 100px;
  position: relative;
  box-sizing: border-box;
}

header {
  max-height: 250px;
  margin-bottom: 40px;
  position: relative;
}

h1 {
  position: absolute;
  font-weight: 300;
  top: 20px;
  font-size: 60px;
  text-align: center;
  padding-left: 40px;
}

.subtitle {
  font-size: 12px;
}

.banner {
  width: 100%;
  height: 250px;
  align-items: right;
  background: linear-gradient(110deg, #ade0d5 60%, #578d82 60%);
}

.drinkCard img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.drinkCard {
  margin: 20px 20px;
  text-align: center;
}
#menuContainer img {
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}
#menuContainer img:hover {
  box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
}

#bigDiv {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 20px;
}

#mediumDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#cart,
#customDrink {
  padding: 20px 20px;
  line-height: 30px;
  border-radius: 20px;
}

#cart {
  grid-area: 1 / 1 / 3 / 4;
  border: solid rgb(17, 63, 31);
  margin-bottom: 20px;
}

.cartItems::after: {
  content: "\a";
  white-space: pre;
}

#customDrink {
  grid-area: 3 / 1 / 5 / 4;
  border: solid rgb(17, 63, 31);
}

#smallDiv {
  grid-area: 1 / 4 / 5 / 10;
}
#menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 90%; */
  margin: 0px auto;
}

.modalCard {
  display: none;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2px;

  position: relative;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 20px 20px;
  /* line-height: 30px; */
  border-radius: 20px;
  border: solid rgb(17, 63, 31);
  margin-bottom: 20px;
}

.modalCard img {
  border-radius: 20px;
  height: 200px;
  width: 200px;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 4rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 40%;
}

button {
  text-align: center;
  width: 18px;
  height: 18px;
}
button .close-modal {
  text-align: center;

  width: 18px;
  height: 18px;
}
input {
  border-radius: 20px;
  padding: 12px 20px;
  margin: 5px 5px;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
